
//=========================== COLORS ==========================

$color-blue: #003459;
$color-blue-dark: #00171F;
$color-blue-light: #10A2BD;

$color-purple: #590034;

$color-red:#AF040F;

$color-grey-light: #d3d3d3;

//=========================== FONTS ===========================
$font-montez: 'Montez', cursive;
$font-poiret: 'Poiret One', cursive;
$font-rajdhani: 'Rajdhani', sans-serif;
$font-iceberg: 'Iceberg', cursive;