@keyframes pulsate {
  0% {
    opacity: 0;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes comeLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

::-webkit-scrollbar {
  display: none; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  scrollbar-width: none; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 50em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 45%; } }
  @media only screen and (max-width: 26.3em) {
    html {
      font-size: 40%; } }
  @media only screen and (min-width: 100em) {
    html {
      font-size: 100%; } }

body {
  width: 100%;
  background-color: #10A2BD; }

.active {
  background-color: #590034 !important; }

.facebook {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2rem; }

.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block; }

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em; }

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif; }

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top; }

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle; }

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none; }

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none; }

.resp-sharing-button--twitter {
  background-color: #55acee; }

.resp-sharing-button--twitter:hover {
  background-color: #2795e9; }

.resp-sharing-button--facebook {
  background-color: #3b5998; }

.resp-sharing-button--facebook:hover {
  background-color: #2d4373; }

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998; }

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373; }

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee; }

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9; }

.mainNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #10A2BD;
  z-index: 10; }
  .mainNav__left {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
    .mainNav__left--i {
      padding: 1rem;
      display: block;
      font-size: 2.5rem;
      color: #AF040F;
      cursor: pointer;
      transition: all .2s; }
      .mainNav__left--i:hover {
        background-color: #AF040F;
        color: white; }
    .mainNav__left--section {
      min-height: 100%;
      background-color: #003459;
      display: flex;
      align-items: center;
      padding: 0 2rem; }
      .mainNav__left--section p {
        display: block;
        color: white;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.8rem; }
        .mainNav__left--section p include respond(l) {
          font-size: 1.7rem; }
        @media only screen and (max-width: 37.5em) {
          .mainNav__left--section p {
            font-size: 1.6rem; } }
  .mainNav__right {
    padding: 0 1rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: end; }
    .mainNav__right--donate {
      margin: 0 1rem;
      position: relative; }
      .mainNav__right--donate:hover::after {
        background-color: #006700; }
      .mainNav__right--donate::after {
        display: block;
        content: "Donate us";
        cursor: pointer;
        position: absolute;
        top: .4rem;
        left: 0;
        width: 10rem;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.8rem;
        text-align: center;
        background-color: green;
        border-radius: 3px;
        box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
        cursor: pointer;
        color: white;
        z-index: 11; }
      .mainNav__right--donate-btn {
        width: 10rem;
        font-family: "Rajdhani", sans-serif;
        opacity: 0;
        z-index: 12;
        position: relative; }
    .mainNav__right--how {
      background-color: #590034;
      display: flex;
      align-items: center;
      padding: 0 2rem;
      border-radius: 3px;
      cursor: pointer;
      box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.3);
      transition: background-color .2s; }
      .mainNav__right--how:hover {
        background-color: #96030d; }
      .mainNav__right--how span {
        color: white;
        font-family: "Rajdhani", sans-serif;
        font-size: 1.8rem; }
        .mainNav__right--how span include respond(l) {
          font-size: 1.7rem; }
        @media only screen and (max-width: 37.5em) {
          .mainNav__right--how span {
            font-size: 1.6rem; } }
    .mainNav__right--icon svg {
      width: 4rem;
      height: 2.3rem;
      cursor: pointer;
      transition: transform .2s; }
      .mainNav__right--icon svg:hover {
        transform: scale(1.1); }

.nav {
  width: 100%;
  background-color: #003459;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 4rem;
  left: 0;
  z-index: 9; }
  .nav__section {
    flex: 1;
    transition: all .2s;
    padding: 0 2rem;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 62.5em) {
      .nav__section {
        padding: 0 1rem; } }
    @media only screen and (max-width: 26.3em) {
      .nav__section {
        padding: 0 .5rem; } }
    .nav__section:hover {
      background-color: #590034; }
    .nav__section--btn {
      display: block;
      min-height: 100%;
      text-decoration: none;
      color: white;
      font-family: "Rajdhani", sans-serif;
      font-size: 1.8rem;
      cursor: pointer; }
      @media only screen and (max-width: 62.5em) {
        .nav__section--btn {
          font-size: 1.7rem; } }
      @media only screen and (max-width: 37.5em) {
        .nav__section--btn {
          font-size: 1.6rem; } }

.header {
  width: 100%;
  height: 80vh;
  background-color: #00171F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .header {
      height: 75vh; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      height: 70vh; } }
  @media only screen and (max-width: 26.3em) {
    .header {
      height: 65vh; } }
  .header__title {
    font-family: "Poiret One", cursive;
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: .5rem;
    color: white;
    text-align: center;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .header__title {
        font-size: 4.5rem; } }

.examples {
  width: 100%;
  padding: 5rem 1rem;
  background-image: linear-gradient(to bottom, #00171F, #00171F 10%, #10A2BD 100%);
  display: flex;
  position: relative; }
  @media only screen and (max-width: 50em) {
    .examples {
      transform: translateY(-5%); } }
  @media only screen and (max-width: 37.5em) {
    .examples {
      transform: translateY(-20%); } }
  @media only screen and (max-width: 26.3em) {
    .examples {
      transform: translateY(-35%); } }
  .examples__img {
    width: 35%;
    cursor: pointer;
    z-index: 7;
    transition: transform .2s; }
    .examples__img--1 {
      transform: translate(40%, -10%);
      z-index: 8; }
      .examples__img--1:hover {
        transform: translate(40%, -10%) scale(1.15); }
      @media only screen and (max-width: 26.3em) {
        .examples__img--1 {
          transform: translate(30%, -10%);
          width: 65%; }
          .examples__img--1:hover {
            transform: scale(1.15) translate(25%, 0%); } }
    .examples__img--2 {
      transform: translate(30%, 0); }
      .examples__img--2:hover {
        transform: translate(30%, 0) scale(1.15);
        z-index: 9; }
      @media only screen and (max-width: 26.3em) {
        .examples__img--2 {
          display: none; } }

.form {
  width: 90%;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  background-color: #eee; }
  @media only screen and (max-width: 37.5em) {
    .form {
      width: 100%;
      margin: 0 auto 5rem auto; } }
  .form__photo {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; }
    .form__photo span {
      display: inline-block;
      background-color: #590034;
      font-family: "Poiret One", cursive;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      color: white;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 1rem;
      margin-bottom: 2.5rem; }
    .form__photo p {
      text-align: center;
      font-family: "Poiret One", cursive;
      font-size: 1.8rem;
      color: black;
      margin-top: 6rem; }
    .form__photo--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__photo--input {
      margin: 2rem auto;
      width: 50%;
      position: relative; }
      @media only screen and (max-width: 50em) {
        .form__photo--input {
          width: 70%; } }
      @media only screen and (max-width: 37.5em) {
        .form__photo--input {
          width: 90%; } }
      @media only screen and (max-width: 26.3em) {
        .form__photo--input {
          width: 100%; } }
      .form__photo--input label {
        display: block;
        color: #10A2BD;
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
        .form__photo--input label i {
          font-size: 5rem; }
      .form__photo--input input {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        cursor: pointer;
        height: 5rem; }
      .form__photo--input p {
        display: block;
        width: 100%;
        font-family: "Courier New", sans-sefir;
        font-size: 1.6rem;
        color: #AF040F;
        text-align: center;
        position: absolute;
        bottom: -6rem;
        left: 0; }
    .form__photo--outputBox {
      width: calc((100vw*0.35)*0.8);
      margin: 1rem auto;
      overflow: hidden;
      border: 1px solid rgba(0, 52, 89, 0.3);
      box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.3); }
      .form__photo--outputBox-output {
        display: none;
        width: 100%;
        margin: 0 auto; }
  .form__contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; }
    .form__contact--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__contact--input {
      margin: 2rem auto;
      width: 50%; }
      @media only screen and (max-width: 50em) {
        .form__contact--input {
          width: 70%; } }
      @media only screen and (max-width: 37.5em) {
        .form__contact--input {
          width: 90%; } }
      @media only screen and (max-width: 26.3em) {
        .form__contact--input {
          width: 100%; } }
      .form__contact--input label {
        display: inline-block;
        width: 35%;
        font-family: "Iceberg", cursive;
        font-size: 3.8rem;
        text-align: right;
        margin-right: 1rem; }
      .form__contact--input input {
        text-align: center;
        display: inline-block;
        width: 60%;
        padding: .5rem;
        border: 1px solid rgba(0, 52, 89, 0.3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
        .form__contact--input input:focus {
          outline: none; }
      .form__contact--input p {
        display: block;
        width: 100%;
        font-family: "Courier New", sans-sefir;
        font-size: 1.6rem;
        color: #AF040F;
        text-align: center; }
  .form__about {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; }
    .form__about--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__about--input label {
      display: inline-block;
      width: 35%;
      font-family: "Iceberg", cursive;
      font-size: 3.8rem;
      text-align: right;
      margin-right: 1rem;
      width: 100%;
      text-align: center;
      margin: 1rem auto; }
    .form__about--input textarea {
      text-align: center;
      display: block;
      width: 70%;
      height: 15rem;
      margin: 0 auto;
      padding: 2rem;
      border: 1px solid rgba(0, 52, 89, 0.3);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
      .form__about--input textarea:focus {
        outline: none; }
    .form__about--input p {
      display: block;
      width: 100%;
      font-family: "Courier New", sans-sefir;
      font-size: 1.6rem;
      color: #AF040F;
      text-align: center; }
  .form__lang {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; }
    .form__lang--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__lang--input {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .form__lang--input label {
        display: inline-block;
        width: 35%;
        font-family: "Iceberg", cursive;
        font-size: 3.8rem;
        text-align: right;
        margin-right: 1rem;
        width: auto;
        text-align: center;
        margin: 0 1rem; }
      .form__lang--input-1 {
        display: inline-block;
        width: 50%;
        padding: .5rem;
        border: 1px solid rgba(0, 52, 89, 0.3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
        margin: 1rem;
        text-align: center; }
        .form__lang--input-1:focus {
          outline: none; }
      .form__lang--input-range {
        display: flex;
        width: 100%;
        justify-content: center; }
        .form__lang--input-range span {
          display: block;
          transform: translateY(0.7rem); }
      .form__lang--input-2 {
        display: inline-block;
        width: 50%;
        margin: 1rem; }
        .form__lang--input-2:focus {
          outline: none; }
    .form__lang p {
      display: inline-block;
      background-color: #590034;
      font-family: "Poiret One", cursive;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      color: white;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 1rem;
      margin-bottom: 2rem; }
    .form__lang span {
      font-size: 2rem;
      margin: 0 2rem; }
    .form__lang--btn {
      margin: 5rem auto 0 auto;
      padding: .2rem 3rem;
      background-color: #10A2BD;
      border-radius: 3px;
      font-family: "Rajdhani", sans-serif;
      font-size: 2.2rem;
      color: white;
      cursor: pointer; }
  .form__skills {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    text-align: center; }
    .form__skills--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__skills span {
      display: inline-block;
      background-color: #590034;
      font-family: "Poiret One", cursive;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      color: white;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 1rem; }
    .form__skills--input {
      margin: 2rem auto;
      width: 100%; }
      .form__skills--input label {
        display: inline-block;
        width: 35%;
        font-family: "Iceberg", cursive;
        font-size: 3.8rem;
        text-align: right;
        margin-right: 1rem;
        width: auto;
        margin: auto; }
      .form__skills--input input {
        height: 4rem;
        text-align: center;
        display: inline-block;
        width: 50%;
        padding: .5rem;
        border: 1px solid rgba(0, 52, 89, 0.3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
        .form__skills--input input:focus {
          outline: none; }
      .form__skills--input p {
        display: block;
        width: 100%;
        font-family: "Courier New", sans-sefir;
        font-size: 1.6rem;
        color: #AF040F;
        text-align: center; }
  .form__work {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; }
    .form__work--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__work span {
      display: inline-block;
      background-color: #590034;
      font-family: "Poiret One", cursive;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      color: white;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 1rem; }
    .form__work--input {
      margin: 2rem auto;
      width: 100%; }
      @media only screen and (max-width: 50em) {
        .form__work--input {
          width: 70%; } }
      @media only screen and (max-width: 37.5em) {
        .form__work--input {
          width: 90%; } }
      @media only screen and (max-width: 26.3em) {
        .form__work--input {
          width: 100%; } }
      .form__work--input h1 {
        display: inline-block;
        font-size: 2.4rem;
        font-family: "Iceberg", cursive;
        text-align: left;
        margin-left: 5rem;
        border-bottom: 1px solid #590034;
        border-right: 1px solid #590034;
        padding: 2rem; }
      .form__work--input label {
        display: inline-block;
        width: 35%;
        font-family: "Iceberg", cursive;
        font-size: 3.8rem;
        text-align: right;
        margin-right: 1rem;
        width: 100%;
        text-align: center;
        margin: 2.5rem auto; }
      .form__work--input input {
        text-align: center;
        display: block;
        width: 70%;
        margin: 0 auto;
        padding: .5rem;
        border: 1px solid rgba(0, 52, 89, 0.3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
        .form__work--input input:focus {
          outline: none; }
      .form__work--input textarea {
        text-align: center;
        display: block;
        width: 70%;
        height: 10rem;
        margin: 0 auto;
        padding: .5rem;
        border: 1px solid rgba(0, 52, 89, 0.3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
        .form__work--input textarea:focus {
          outline: none; }
      .form__work--input p {
        display: block;
        width: 100%;
        font-family: "Courier New", sans-sefir;
        font-size: 1.6rem;
        color: #AF040F;
        text-align: center; }
  .form__education {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem; }
    .form__education--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__education span {
      display: inline-block;
      background-color: #590034;
      font-family: "Poiret One", cursive;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      color: white;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 1rem; }
    .form__education--input {
      margin: 2rem auto;
      width: 100%; }
      @media only screen and (max-width: 50em) {
        .form__education--input {
          width: 70%; } }
      @media only screen and (max-width: 37.5em) {
        .form__education--input {
          width: 90%; } }
      @media only screen and (max-width: 26.3em) {
        .form__education--input {
          width: 100%; } }
      .form__education--input h1 {
        display: inline-block;
        font-size: 2.4rem;
        font-family: "Iceberg", cursive;
        text-align: left;
        margin-left: 5rem;
        border-bottom: 1px solid #590034;
        border-right: 1px solid #590034;
        padding: 2rem; }
      .form__education--input label {
        display: inline-block;
        width: 35%;
        font-family: "Iceberg", cursive;
        font-size: 3.8rem;
        text-align: right;
        margin-right: 1rem;
        width: 100%;
        text-align: center;
        margin: 2.5rem auto; }
      .form__education--input input {
        text-align: center;
        display: block;
        width: 70%;
        margin: 0 auto;
        padding: .5rem;
        border: 1px solid rgba(0, 52, 89, 0.3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
        .form__education--input input:focus {
          outline: none; }
      .form__education--input p {
        display: block;
        width: 100%;
        font-family: "Courier New", sans-sefir;
        font-size: 1.6rem;
        color: #AF040F;
        text-align: center; }
  .form__courses {
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    text-align: center; }
    .form__courses--header {
      margin: 1rem;
      margin-top: 9rem;
      font-family: "Rajdhani", sans-serif;
      font-size: 5rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #00171F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid rgba(0, 23, 31, 0.3); }
    .form__courses span {
      display: inline-block;
      background-color: #590034;
      font-family: "Poiret One", cursive;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      color: white;
      text-align: center;
      width: 80%;
      margin: 0 auto;
      border-radius: 3px;
      padding: 1rem; }
    .form__courses--input {
      margin: 2rem auto;
      width: 100%; }
      .form__courses--input label {
        display: inline-block;
        width: 35%;
        font-family: "Iceberg", cursive;
        font-size: 3.8rem;
        text-align: right;
        margin-right: 1rem;
        text-align: center; }
      .form__courses--input input {
        text-align: center;
        display: inline-block;
        width: 70%;
        padding: .5rem;
        border: 1px solid rgba(0, 52, 89, 0.3);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3); }
        .form__courses--input input:focus {
          outline: none; }
      .form__courses--input p {
        display: block;
        width: 100%;
        font-family: "Courier New", sans-sefir;
        font-size: 1.6rem;
        color: #AF040F;
        text-align: center; }
  .form__submit {
    display: block;
    width: 50rem;
    margin: 2.5rem auto;
    padding: 2rem 5rem;
    border: none;
    border-radius: 3px;
    background-color: #003459;
    font-family: "Poiret One", cursive;
    font-size: 3rem;
    letter-spacing: .3rem;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.3);
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .form__submit {
        padding: .5rem 2.5rem;
        width: 35rem; } }
    .form__submit:hover {
      transform: translateY(-0.2rem);
      box-shadow: 0 1.3rem 1rem rgba(0, 0, 0, 0.2); }

#lang2 {
  display: none; }

#lang3 {
  display: none; }

.footer {
  width: 100%;
  padding: 2rem;
  background-color: #00171F; }
  .footer__copy {
    color: white;
    font-family: "Courier New", sans-serif;
    font-size: 1.6rem;
    margin: 2rem;
    text-align: center; }
    .footer__copy a {
      display: inline-block;
      text-decoration: none;
      color: white;
      padding: .5rem 2rem;
      background-color: #590034;
      border-radius: 3px;
      transition: transform .2s; }
      .footer__copy a:hover {
        transform: scale(1.1) rotate(3deg); }
  .footer__credits {
    color: #d3d3d3;
    font-family: "Courier New", sans-serif;
    font-size: 1rem;
    text-align: center; }
    .footer__credits a {
      text-decoration: none;
      color: #10A2BD; }

.validationWarning {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50vw;
  padding: 5rem;
  background-color: #FEEFB3;
  border: 1px solid #590034;
  border-radius: 3px;
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.3);
  z-index: 12; }
  .validationWarning h1 {
    color: #AF040F;
    font-family: "Iceberg", cursive;
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: .4rem;
    text-align: center; }
  .validationWarning h3 {
    color: #AF040F;
    font-family: "Poiret One", cursive;
    font-size: 1.6rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .validationWarning {
      width: 90vw; } }
  .validationWarning i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.6rem;
    color: #590034;
    cursor: pointer; }

.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 13;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  flex-direction: column;
  justify-content: center; }
  .loading h1 {
    color: #00171F;
    font-family: "Iceberg", cursive;
    font-size: 6rem;
    font-weight: 300;
    letter-spacing: .4rem;
    text-align: center; }
  .loading h3 {
    color: #00171F;
    font-family: "Poiret One", cursive;
    font-size: 4rem;
    font-weight: 300;
    letter-spacing: .2rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .loading h3 {
        font-size: 2.5rem; } }
  .loading__pulsate-1 {
    animation: pulsate .5s infinite linear; }
  .loading__pulsate-2 {
    animation: pulsate .5s .2s infinite linear; }
  .loading__pulsate-3 {
    animation: pulsate .5s .4s infinite linear; }

.instructions {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  background-image: linear-gradient(to bottom, #00171F, #003459);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  animation: comeLeft .2s linear;
  overflow-y: scroll; }
  .instructions__close {
    position: absolute;
    top: 6rem;
    right: 1rem;
    font-size: 4rem;
    color: #AF040F;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .instructions__close {
        font-size: 2.5rem; } }
  .instructions__header {
    margin-top: 10rem; }
    .instructions__header h1 {
      font-family: "Rajdhani", sans-serif;
      font-size: 4rem;
      text-align: center;
      letter-spacing: .3rem;
      color: #AF040F;
      text-transform: uppercase;
      text-shadow: 0.3rem 0.3rem 0.5rem rgba(0, 0, 0, 0.3); }
      @media only screen and (max-width: 62.5em) {
        .instructions__header h1 {
          font-size: 3rem; } }
      @media only screen and (max-width: 37.5em) {
        .instructions__header h1 {
          font-size: 2.2rem; } }
  .instructions__main {
    margin: 1rem;
    display: flex;
    justify-content: center; }
    .instructions__main--list-item div {
      display: inline-block;
      margin: 1rem;
      padding: .5rem 2rem;
      border-radius: 3px;
      background-color: #590034;
      font-family: "Rajdhani", sans-serif;
      font-size: 2.5rem;
      color: white; }
      @media only screen and (max-width: 37.5em) {
        .instructions__main--list-item div {
          font-size: 1.8rem; } }
    .instructions__main--list-item p {
      margin: 2rem;
      font-family: "Courier New", sans-serif;
      font-size: 1.8rem;
      color: white; }
      @media only screen and (max-width: 37.5em) {
        .instructions__main--list-item p {
          font-size: 1.5rem; } }
