.footer{
	width:100%;
	padding:2rem;
	background-color: $color-blue-dark;

	&__copy{
		color:white;
		font-family: "Courier New", sans-serif;
		font-size: 1.6rem;
		margin:2rem;
		text-align: center;

		a{
			display:inline-block;
			text-decoration: none;
			color:white;
			padding:.5rem 2rem;
			background-color: $color-purple;
			border-radius: 3px;
			transition:transform .2s;

			&:hover{
				transform:scale(1.1) rotate(3deg);
			}
		}

	}

	&__legal{

		display:flex;
		justify-content: center;

		&--link{
			
			width:15rem;
			border:1px solid $color-grey-light;
			border-radius: 3px;
			padding:.2rem 2rem;
			margin:0 1rem 1rem 1rem;
			color: white;
			font-family: $font-rajdhani;
			font-size: 1.3rem;
			cursor:pointer;
			transition:all .2s;
			text-align: center;

			&:hover{
				border: 1px solid transparent;
				background-color: $color-grey-light;
				color:black;
			}

			p{
				display:block;
				

			}
		}
	}

	&__credits{
		color:$color-grey-light;
		font-family: "Courier New", sans-serif;
		font-size: 1rem;
		text-align: center;

		a{
			text-decoration: none;
			color:$color-blue-light;
		}
	}
}