.validationWarning{
	position:fixed;
	top:20%;
	left:50%;
	transform:translateX(-50%);
	width:50vw;
	padding:5rem;
	background-color: #FEEFB3;
	border:1px solid $color-purple;
	border-radius:3px;
	box-shadow: 0 0 5rem rgba(0,0,0,.3);
	z-index: 12;

	h1{
		color:$color-red;
		font-family: $font-iceberg;
		font-size: 1.8rem;
		font-weight: 300;
		letter-spacing: .4rem;
		text-align: center;
		
	}
	h3{
		color:$color-red;
		font-family: $font-poiret;
		font-size: 1.6rem;
		font-weight: 300;
		letter-spacing: .2rem;
		text-align: center;
		
	}
	

	@include respond(s){
		width:90vw;
	}

	i{
		position:absolute;
		top: 1rem;
		right:1rem;
		font-size: 2.6rem;
		color:$color-purple;
		cursor:pointer;
	}
}

.loading{
	position:fixed;
	top:0;
	left:0;
	z-index: 13;
	width:100vw;
	height:100vh;
	background-color: rgba(white,.9);
	flex-direction: column;
	justify-content: center;

	h1{
		color:$color-blue-dark;
		font-family: $font-iceberg;
		font-size: 6rem;
		font-weight: 300;
		letter-spacing: .4rem;
		text-align: center;
	}

	h3{
		color:$color-blue-dark;
		font-family: $font-poiret;
		font-size: 4rem;
		font-weight: 300;
		letter-spacing: .2rem;
		text-align: center;

		@include respond(s){
			font-size: 2.5rem;
		}
	}

	&__pulsate{

		&-1{
			animation: pulsate .5s infinite linear;
		}
		&-2{
			animation: pulsate .5s .2s infinite linear;
		}
		&-3{
			animation: pulsate .5s .4s infinite linear;
		}
	}
}